.food-display {
    width: 90vw;
    margin: auto;
    margin-top: 4vh;
}

.food-display h1 {
    margin-bottom: 2vh;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default: 4 columns */
    gap: 20px;
    row-gap: 5vh;
    list-style: none;
    padding: 0;
}

/* Medium Devices (Tablets) */
@media (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for medium devices */
    }
}

/* Small Devices (Phones) */
@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for small devices */
    }
}
