* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    animation: fadeIn 1s;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 290px;
    margin: auto;
    position: relative;
}

.card-content {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.card-text {
    flex: 0 0 75%; /* Takes up 75% of the card width */
    display: flex;
    flex-direction: column;
    background-color: #1D1C20;
    color: #fff;
    padding: 20px;
    margin-left: auto;
    height: 250px; /* Set a fixed height */
}

.remove-button {
    width: 12.5%; /* Reserved width for remove button */
    height: 12.5%; /* Height equal to 12.5% of card width */
    max-width: 40px; /* Maximum width */
    max-height: 40px; /* Maximum height */
    border: none;
    background-color: #970C0A;
    color: white;
    font-size: 1.5rem;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    flex-shrink: 0; /* Prevent shrinking */
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button {
    width: 12.5%; /* Button width */
    height: 12.5%; /* Height equal to 12.5% of card width */
    max-width: 40px; /* Maximum width */
    max-height: 40px; /* Maximum height */
    border: none;
    background-color: #970C0A;
    color: white;
    font-size: 1.5rem;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    flex-shrink: 0; /* Prevent shrinking */
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow {
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-image > img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.category-count {
    display: flex;
    align-items: center;
}

.meal-category {
    display: inline-block;
}

.item-count {
    display: inline-flex; /* Use inline-flex to center content */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin-left: auto;
    border: 1px solid #FF613E;
    border-radius: 50%;
    padding: 0.2rem; /* Adjust padding */
    text-align: center;
    line-height: 1.2; /* Adjust line-height */
    font-size: 0.7rem; /* Reduce font size */
    width: 1.5rem; /* Fixed width */
    height: 1.5rem; /* Fixed height */
}

.rating-stars {
    width: 50%;
    margin-top: auto;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 5px;
}

.card-body {
    font-size: 1rem;
}

.card-price {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #970C0A;
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 10px;
}



/* Media queries */
@media (max-width: 1024px) {
    .card {
        width: 100%;
    }

    .card-title {
        font-size: 1.3rem;
    }

    .card-body {
        font-size: 0.9rem;
    }

    .card-price {
        font-size: 1rem;
        bottom: 5px;
        right: 5px;
    }

    .card-text {
        height: 220px; /* Adjust height for medium devices */
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-body {
        font-size: 0.8rem;
    }

    .card-price {
        font-size: 0.9rem;
        bottom: 5px;
        right: 5px;
    }

    .card-text {
        height: 200px; /* Adjust height for small devices */
        font-size: 0.8rem; /* Reduce font size for small devices */
    }

    .item-count {
        padding: 0.2rem; /* Adjust padding for small devices */
        line-height: 1.2; /* Adjust line-height for small devices */
        font-size: 0.6rem; /* Font size for better centering on small devices */
        width: 1.5rem; /* Fixed width */
        height: 1.5rem; /* Fixed height */
    }
}
